body {
    background-image: linear-gradient(#ffffff, #aaa9a9);
    background-attachment: fixed;
}

img{
    margin:0 auto;
    object-fit: cover;
    max-width:90%;
    max-height:90%;
    height: auto;
    width: auto;
    border: 3px solid rgb(48, 48, 48);
    border-radius: 15px;
}

.emblem{
  border: 5px solid rgb(0, 0, 0);
  background-color: black;
}

.menu_container {
    display: flex;
    font-family: 'Inconsolata';
    font-size: 30px;
    justify-content: space-between;
    border: 2px solid rgb(48, 48, 48);
    padding: 0.6%;
    background-color: white;
    border-radius: 15px;
    position: fixed;
    left:0;
    right:0;
    width: 84%;
    margin:auto;
  }
  
.name {
    flex-basis: 70%;
  }
  
.no_margin{
    margin: 0;
    margin-left:1px;
    font-family: 'Yellowtail';
  }

.home{
    flex-basis: 10%;
  }
  
.portfolio{
    flex-basis: 10%;
  }
  
.contact{
    flex-basis: 10%;
  }


a {
    color: inherit;
    text-decoration: inherit;
  }
  
a:hover {
    color: #8f9294;
  }

.textLink{
  color: rgb(61, 144, 172)
}

.textLink:hover {
  color: rgb(96, 191, 223)
}

  
/*CSS for Index/Home Page*/
.myContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(0, auto);
    margin-left: 10%;
    margin-right: 10%;
  }

  .itembox {
    color: black;
    padding: .3em;
  }

  .one {
    grid-column: 1 / 4;
    padding-left: 1em;
    margin-top: 5%;
  }

  .gridimg1{
    margin-top: 20%;
    display: inline-block;
    text-align: center;
  }
  .gridimg2{
    display: inline-block;
    text-align: center;
    margin-top:8%;
  }
  .gridimg3{
    display: inline-block;
    text-align: center;
    margin-top:20%;
    }

  .two {
    grid-column: 1 / 4;
    padding-left: 1em;
  }


  .three {
    grid-column: 1 / 4;
    padding-left: 1em;
    margin-top:3%;
  }

  .bodypara {
    font-size: 22px;
  }

  .listheader {
    font-size: 22px;
    margin-bottom:0%
  }

  ul {
    margin-top: 0%;
  }

  li{
    font-size: 22px;
  }

  /*CSS for Portfolio Page*/
  .myContainerPortfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(0, auto);
    margin-left: 10%;
    margin-right: 10%;
  }

  .topPort{
    grid-row: 1/2;
    grid-column: 1/5;
    margin-top:4%;
    margin-left: 1.4%;
  }

  .onePort {
    grid-column: 2 / 5;
    grid-row: 2 / 4;
    padding-left: 1em;
  }

  .twoPort {
    grid-column: 2 / 5;
    grid-row: 4 / 6;
    padding-left: 1em;
  }
  .gridimg1Port{
    margin-top:6%;
    display: inline-block;
    text-align: center;
    grid-column:1 / 2;
    grid-row: 2 / 4;
  }
  .gridimg2Port{
    margin-top:6%;
    display: inline-block;
    text-align: center;
    grid-column:1 / 2;
    grid-row: 4 / 6;
  }

  /*CSS for Contact Page*/
  .myContainerContact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(0, auto);
    margin-left: 10%;
    margin-right: 10%;
  }
  .oneContact {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding-left: 1em;
    margin-top: 10%;
  }

  .gridimg1Contact{
    display: inline-block;
    text-align: center;
    grid-column:2 / 3;
    grid-row: 2 / 3;
    margin-top: 10%
  }

  /*CSS for Footer*/
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height:2%;
    background-color: rgb(167, 167, 167);
    color: rgb(61, 144, 172);
    text-align: right;
    padding-top:0.2%;
  }

/*CSS for Responsive Layout*/
  @media (max-width: 1000px) {
    .myContainer {
      grid-template-columns: 1fr;
      margin-left: 0%;
      margin-right: 0%;
    }
    .one{
      grid-row: 2/3;
      margin-top: 0%;
    }
    .gridimg1{
      grid-row: 1/2;
      margin-top: 5%;
    }
    .two{
      grid-row: 4/5;
      margin-top: 0%;
    }
    .gridimg2{
      grid-row: 3/4;
      margin-top: 0%;
    }
    .three{
      grid-row: 6/7;
      margin-top: 0%;
    }
    .gridimg3{
      grid-row: 5/6;
      margin-top: 0%;
    }
    .menu_container{
        font-size: 25px;
    }
    h1{
      font-size: 1.5em;
    }
    .bodypara{
      font-size:20px;
    }
    .listheader{
      font-size:20px;
    }
    li{
      font-size:20px;
    }
    .myContainerContact {
      grid-template-columns: 1fr;
      margin-left: 0%;
      margin-right: 0%;
    }
    .oneContact {
      grid-column: 1 / 2;
      grid-row: 1/2;
    }
    .gridimg1Contact{
      grid-column: 1 / 2;
      grid-row: 2/3;
    }
    .myContainerPortfolio {
      grid-template-columns: 1fr;
      margin-left: 0%;
      margin-right: 0%;
    }
    .onePort {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
  
    .twoPort {
      grid-column: 1 / 2;
      grid-row: 4 / 5;
    }
    .gridimg1Port{
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }
    .gridimg2Port{
      grid-column:1 / 2;
      grid-row: 5/6;
    }
    .topPort{
      margin-left: 4%;
      padding-top: 8%;
    }
  }

@media (max-width: 500px) {
    .menu_container{
        font-size: 18px;
    }
    h1{
      font-size: 1.25em;
    }
    .bodypara{
      font-size:15px;
    }
    .listheader{
      font-size:15px;
    }
    li{
      font-size:15px;
    }
    .footer{
      display:none;
    }
  }
